[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/ErcBunny/PX4-Autopilot.git
[submodule "ros_workspace/src/mavros"]
	path = ros1_workspace/src/mavros
	url = https://github.com/ErcBunny/mavros.git
[submodule "ros_workspace/src/mavlink-gbp-release"]
	path = ros1_workspace/src/mavlink-gbp-release
	url = https://github.com/ErcBunny/mavlink-gbp-release.git
[submodule "ros2_workspace/src/px4_msgs"]
	path = ros2_workspace/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "ros2_workspace/src/px4_ros_com"]
	path = ros2_workspace/src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
