.DS_Store
.vscode

ros1_workspace/build
ros1_workspace/.catkin_tools
ros1_workspace/devel
ros1_workspace/logs

ros2_workspace/build
ros2_workspace/install
ros2_workspace/devel
ros2_workspace/log
ros2_workspace/src/my_first_ros2_pkg
ros2_workspace/src/ros_tutorials

gymfc
uav_rl_ref
